<section class="content center-md">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 center-xs login">
        
        <h1><span class="title">AcademiQ - Projeto Integrador</span></h1>
        
        <form action="#" method="post" accept-charset="utf-8" (submit)="logar($event)">
            <div class="row center-xs">
                <div class="col-xs-12 center-xs">
                    <input type="text" id="username" name="username" placeholder="email" [(ngModel)]="login.username"> 
                </div>
                
                 <div class="col-xs-12 center-xs">
                    <input type="password" id="password" name="password" placeholder="Senha" [(ngModel)]="login.password">
                </div>

                <div class="col-xs-12 center-xs">
                    <button class="btn-fluid btn-azul">Acessar</button>
                </div>
            </div>
        </form>
    </div>
</section>